body{
  background: #000;
  margin: 24px;
  color:  #c4c4c4;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}

a{
  color: #c4c4c4;
  text-decoration: none;
}


.background_pause{
  background-color: #023970;
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer__license {
  text-align: right;
  line-height: 1.8;
  position: fixed;
  right: 25px; bottom: 15px;
  color:  #888;
  font-size: small;
}

#timer__title{
  font-size: 300%;
}

.timer{
  display: inline-block;
}

.timer__descr{
  font-size:  90%;
}

.timer__descr--done{
  /*color: #232323;*/
}

.timer__part{
  top: 0;
  left: 0;
  margin: 0 auto;
  font-weight: bold;
  font-size: 400%;
}

.timer__btn{
  width:  75px;
  height: 75px;
  margin-left: 16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #0066cc;
}

.timer__btn--fullscreen{
  background: #232323;
}

.timer__btn--info{
  background: #fdc322;
  color:  #111;
}

.timer__btn--start{
  background: #00b84c;
}

.timer__btn--stop{
  background: #ff0256;
}

.timer__btn--stop--fullscreen{
  background: #232323;
  color: #ddd;
}

.timer__btn--skip--fullscreen{
  background: #232323;
}

.hide{
  display: none;
}


.conceal{
  opacity: 0;
}


.timer__protocol{
  font-size: 110%;
}

.timer__protocol-uebergang{
  font-size: 110%;
}

.timer__protocol-dummy{
  margin-left: 15px;
  margin-right: 15px;
}

.timer__protocol-left{
  font-size: 130%;
  margin-right: 25px;
}

.timer__protocol-right{
  font-size: 130%;
  margin-left: 25px;
}